inventory_management_micro/__pycache__
X509-cert-8379656237372897810.pem
DB.md
inventory_management_micro/ubl-products.xlsx
inventory_management_micro/X509-cert-8379656237372897810.pem
node_modules
order_management_micro/db.md
order_management_micro/config.env
order_management_micro/config.js
eks_setup.md
awscliv2.zip
kubectl.sha256
aws
kubectl
eks-sample-deployment.yaml
eks-sample-service.yaml
docker
order_management_micro/node_modules
inventory_management_micro/node_modules