inventory_management/__pycache__
inventory_management/node_modules
X509-cert-8379656237372897810.pem
DB.md
inventory_management/Dockerfile
inventory_management/package-lock.json
inventory_management/package.json
inventory_management/ubl-products.xlsx
inventory_management/X509-cert-8379656237372897810.pem
order_management/node_modules
node_modules
order_management/db.md
order_management/package-lock.json
order_management/package.json
order_management/config.env
order_management/config.js
eks_setup.md
awscliv2.zip
kubectl.sha256
aws
kubectl
eks-sample-deployment.yaml
eks-sample-service.yaml
docker