<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vehicle List</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="row">
      <div class="col-4">
        <div
          class="d-flex flex-column flex-shrink-0 p-3 bg-light"
          style="width: 280px"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
          >
            <svg class="bi me-2" width="40" height="32">
              <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-person-circle"
                viewBox="0 0 20 20"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                /></svg
              >JARIF ISLAM
            </span>
          </a>
          <hr />
          <ul class="nav nav-pills flex-column mb-auto">
            <p
              class="text-center font-weight-light"
              style="font-weight: lighter"
            >
              Dashboards
            </p>
            <li class="nav-item">
              <a
                href="#"
                class="nav-link link-dark sideLink"
                aria-current="page"
              >
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#home"></use>
                </svg>
                Overview
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#speedometer2"></use>
                </svg>
                Sales
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#table"></use>
                </svg>
                Shipment
              </a>
            </li>
            <p
              class="text-center font-weight-light"
              style="font-weight: lighter"
            >
              Pages
            </p>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#grid"></use>
                </svg>
                Stock
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#people-circle"></use>
                </svg>
                Serve Request
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#grid"></use>
                </svg>
                Shipment
              </a>
            </li>
          </ul>
          <hr />
        </div>
      </div>

      <div
        class="col-8"
        style="margin-left: -10%; background-color: honeydew; width: 70%"
      >
        <div
          class="container-lg"
          style="margin: auto; text-align: center; margin-top: 2%; width: 100%"
        >
          <h1>Vehicle List</h1>
          <table
            class="table table-hover table-striped table-bordered"
            style="margin-top: 2%"
          >
            <thead>
              <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Capacity</th>
                <th class="text-center">Status</th>
                <th class="text-center">Vehicle Type</th>
                <th class="text-center">Registration Number</th>
                <th class="text-center">Driver Mobile</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions</th>
                <!-- New column for actions -->
              </tr>
            </thead>
            <tbody>
              {% for vehicle in vehicles %}
              <tr>
                <td class="text-center">{{ vehicle.name }}</td>
                <td class="text-center">{{ vehicle.capacity }}</td>
                <td class="text-center">{{ vehicle.status }}</td>
                <td class="text-center">{{ vehicle.vehicle_type }}</td>
                <td class="text-center">{{ vehicle.registration_number }}</td>
                <td class="text-center">{{ vehicle.driver_mobile }}</td>
                <td class="text-center">{{ vehicle.status }}</td>
                <td class="text-center">
                  <!-- Button to check details -->
                  <form
                    action="{% url 'vehicle_details' vehicle.id %}"
                    method="get"
                  >
                    <button class="btn btn-info" type="submit">Details</button>
                  </form>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="7" class="text-center">No vehicles available</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
