<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Shipment</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="row">
      <div class="col-4">
        <div
          class="d-flex flex-column flex-shrink-0 p-3 bg-light"
          style="width: 280px"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
          >
            <svg class="bi me-2" width="40" height="32">
              <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-person-circle"
                viewBox="0 0 20 20"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                /></svg
              >JARIF ISLAM
            </span>
          </a>
          <hr />
          <ul class="nav nav-pills flex-column mb-auto">
            <p
              class="text-center font-weight-light"
              style="font-weight: lighter"
            >
              Dashboards
            </p>
            <li class="nav-item">
              <a
                href="#"
                class="nav-link link-dark sideLink"
                aria-current="page"
              >
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#home"></use>
                </svg>
                Overview
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#speedometer2"></use>
                </svg>
                Sales
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#table"></use>
                </svg>
                Shipment
              </a>
            </li>
            <p
              class="text-center font-weight-light"
              style="font-weight: lighter"
            >
              Pages
            </p>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#grid"></use>
                </svg>
                Stock
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#people-circle"></use>
                </svg>
                Serve Request
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#grid"></use>
                </svg>
                Shipment
              </a>
            </li>
          </ul>
          <hr />
        </div>
      </div>

      <div class="col-8">
        <div class="container">
          <div
            class="card"
            style="
              background-image: url(https://th.bing.com/th/id/OIP.aK7dCUXvvE8QwEY8by8uGAHaDt?rs=1&pid=ImgDetMain);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              width: 100%;
              margin-top: 2%;
              margin-left: -10%;
            "
          >
            <!-- Content -->
            <div
              class="text-black text-center d-flex align-items-center rgba-black-strong py-5 px-4"
              style="margin-top: 5%"
            >
              <div>
                <img
                  src="https://th.bing.com/th/id/R.c54651ceecab3d7e8ad1734bd4e46401?rik=jRZtX%2fGIl3CNwg&pid=ImgRaw&r=0"
                  style="width: 25%"
                />

                <h3 class="card-title pt-2">
                  <strong>Create Shipment</strong>
                </h3>
                <form method="post">
                  {% csrf_token %}
                  <label for="destination">Destination:</label>
                  <input
                    type="text"
                    id="destination"
                    name="destination"
                    required
                  />

                  <!-- Display checkboxes for selecting purchase orders -->
                  <fieldset>
                    <legend>Select Purchase Orders:</legend>
                    {% for purchase_order in purchase_orders %}
                    <input
                      type="checkbox"
                      id="purchase_order_{{ purchase_order.id }}"
                      name="purchase_order_ids"
                      value="{{ purchase_order.id }}"
                    />
                    <label for="purchase_order_{{ purchase_order.id }}"
                      >Purchase Order #{{ purchase_order.id }}</label
                    ><br />
                    {% endfor %}
                  </fieldset>

                  <button
                    class="btn btn-primary"
                    type="submit"
                    style="margin-top: 2%"
                  >
                    Create Shipment
                  </button>
                </form>
              </div>
            </div>
            <div style="margin-top: 5%"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
