<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <h2>User Registration</h2>
    <form method="post" id="registration-form" action="{% url 'register' %}">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="entity_name">Entity Name:</label><br>
        <select id="entity_name" name="entity_id" required>
            <option value="">Select Entity Name</option>
            {% for entities in entity_map.values %}
                {% for entity in entities %}
                    <option value="{{ entity.entity_id }}">{{ entity.name }}</option>
                {% endfor %}
            {% endfor %}
        </select><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
